name: release

on:
  push:
    branches:
    # - '!*'
    - feat/cosign
    tags:
    - v*.*.*

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v4
      with:
        version: v1.20.0
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ github.token }}
